@import "_variables";

.section {
  display: flex;
  justify-content: center;
  padding: $min_inset;

  .container {
    width: 100%;
    max-width: 900px;
  }

  .section_header {
    margin: 0 0 1em 0;
    text-align: center;
    font-size: 3.5rem;
    color: $accent-text-color;
  }
}
