@import "_variables";

.section {
  width: 100%;
  padding: 2rem 0 4rem 0;
}

.section_header {
  text-align: center;
  font-size: 3.5rem;
  color: $lime;
}

.section_subheader {
  margin-left: 4rem;
}

.section_subheader_underline {
  margin: 0 4rem;
  border-color: $secondary-color;
}