
// Typography
$base-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// Color Palette
$green: #61892F;
$lime: #86C232;
$dark-grey: #222629;
$medium-grey: #474B4F;
$light-grey: #6B6E70;
$white: #FFFFFF;

// Theme
$background: $dark-grey;
$secondary-background: $medium-grey;
$accent-background: $lime;

$base-text-color: $white;
$inverse-text-color: $dark-grey;
$accent-text-color: $lime;

$primary-color: $lime;
$secondary-color: $green;
