@import "_base";

.certifications {
  @extend .section;
  background: $secondary-background;

  .certifications_container {
    @extend .container;

    .certifications_title {
      @extend .section_header;
    }

    .certifications_badge_wrapper {
      display: flex;
      justify-content: center;
    
      .certifications_badge {
        display: block;
        height: 10rem;
        width: 10rem;
        transition: transform 0.1s ease-in-out;
    
        &:hover {
          transform: scale(1.05);
        }
    
        .certifications_badge_image {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}


