@import "_base";

.contact {
  @extend .section;
  background: $secondary-background;

  .contact_container {
    @extend .container;
    max-width: 600px;

    .contact_title {
      @extend .section_header;
    }

    .contact_form {
      display: flex;
      flex-direction: column;

      .contact_form_input, 
      .contact_form_textarea {
        background: rgba($light, 0.15);
        font-family: $base-font;
        color: $base-text-color;
        border: none;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        padding: 0.75rem;
  
        &::placeholder {
          color: $base-text-color;
          opacity: 0.5;
        }
      }

      .contact_form_textarea {
        height: 15rem;
      }

      .contact_form_button {
        align-self: flex-end;
      }
    }
  }
}

.sectionded {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25rem;

    

    
  }
}
