@import "_variables";

.section {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url("../public/hero.jpg");
  background-position: center;
  background-size: cover;
  flex-direction: column;
  padding: 2rem 2rem 0 6vw;
}

.links {
  display: flex;
  justify-content: flex-end;

  // #__next > div > section > div.Hero_links__2FhjA > a:nth-child(2) > svg > path.github_svg__glow
  
  svg {
    fill: $primary-color;
    margin-left: 12px;
    transition: all 0.2s ease-in-out;
    
    &:hover {
      transform: scale(1.05);
    }
  }
}

.title {
  font-size: 11vw;
  align-self: flex-start;
}

.spacer {
  flex-grow: 1;
}