@import "_variables";

.section {
  display: flex;
  justify-content: center;
  padding: $desktop_inset $mobile_inset;

  @media only screen and (min-width: $desktop-breakpoint) {
    padding: $desktop_inset;
  }

  .container {
    width: 100%;
    max-width: 900px;
  }

  .section_header {
    margin: 0 0 1em 0;
    text-align: center;
    font-size: 1.9rem;
    color: $accent-text-color;
    word-break: break-word;
    hyphens: auto;

    @media only screen and (min-width: $desktop-breakpoint) {
      font-size: 3.5rem;
    }
  }
}

.onScreen_fade_zoom, .offScreen_fade_zoom {
  transition: $transition_on_screen;
}

.onScreen_fade_zoom {
  opacity: 1;
  transform: scale(1);
}

.offScreen_fade_zoom {
  opacity: 0;
  transform: scale(0.8);
}