@import "_base";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
  background: $secondary-background;
  font-size: 0.8rem;

  div:first-child {
    margin-bottom: 0.25em;
  }
}
