@import "_base";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $base-font;
  background: $background;
  color: $base-text-color;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $accent-text-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fade-exit {
  opacity: 1;
  position: absolute;
  top: 0;

  &.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
  }
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;

  &.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 300ms;
  }
}

.fade-appear {
  opacity: 0;

  &.fade-appear-active {
    opacity: 1;
    transition: opacity 300ms linear;
  }
}