@import "_base";

.hero {
  @extend .section;
  min-height: 100vh;

  .hero_container {
    @extend .container;

    .hero_title_wrapper {
      width: 100%;
      height: 100%;
      background-image: url('../public/images/title.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
  
  
      .hero_title, .hero_sub_title {
        display: none;
      }
    }
  }
}
