@import "_base";

$spacing: 0.5em;
$link_size: 2em;
$color: $primary;
$stroke: 2px;
$inset: 3em - ($link_size / 2);

.links {
  display: none;

  @media only screen and (min-width: $desktop-breakpoint) {
    display: flex;
    position: fixed;
    top: 0;
    right: $inset;
    height: 100vh;
    padding-bottom: $inset;
    flex-direction: column;
    align-items: center;

    .links_line {
      display: block;
      flex-grow: 1;
      width: $stroke;
      background-color: $color;
    }
  
    .links_link {
      transition: $transition_quick;
  
      &:hover {
        transform: scale(1.1);
      }
  
      svg {
        height: $link_size;
        width: $link_size;
        margin-top: $spacing;
        fill: $primary;
      }
    }
  }
}