@import "_base";

.skills {
  @extend .section;
  background-image: url("../public/images/skills-bg.webp");
  background-size: cover;
  background-position: center;

  .skills_container {
    @extend .container;

    .skills_title {
      @extend .section_header;
    }
  
    .skills_skillset_wrapper {
      .skills_skillset {
        position: relative;
        padding: 2em;
        margin-bottom: 1em;
        box-shadow: 0 8px 10px 1px rgba(0,0,0,.14), 
                    0 3px 14px 2px rgba(0,0,0,.12), 
                    0 5px 5px -3px rgba(0,0,0,.2);

        @media only screen and (min-width: $desktop-breakpoint) {
          width: 55%;
          margin-top: -5%;
          margin-bottom: 0;
        }

        &:nth-child(even) {
          margin-left: auto;
        }
  
        &:first-child {
          @extend .skillset_theme_secondary_background;
          margin-top: 0;
        }
  
        &:nth-child(2) {
          @extend .skillset_theme_secondary_color;
        }
  
        &:nth-child(3) {
          @extend .skillset_theme_primary_color;
        }
  
        &:nth-child(4) {
          @extend .skillset_theme_secondary_color;
        }

        &:nth-child(5) {
          @extend .skillset_theme_secondary_background;
        }

        .skills_skillset_title {
          text-align: center;
          font-size: 1.2rem;
          margin: 0 0 1em 0;

          @media only screen and (min-width: $desktop-breakpoint) {
            font-size: 1.4rem;
          }
        }

        .skills_skillset_skill_wrapper {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .skills_skillset_skill {
            margin: 0.5em 1.5em;
            font-size: 1rem;
            text-align: center;

            @media only screen and (min-width: $desktop-breakpoint) {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}

.skillset_theme_secondary_background {
  background-color: $secondary-background;
}

.skillset_theme_primary_color {
  background-color: $primary;
  color: $secondary-background;

  .skills_skillset_title {
    color: $secondary-background;
  }
}

.skillset_theme_secondary_color {
  background-color: $secondary;
  color: $background;

  .skills_skillset_title {
    color: $background;
  }
}